<ion-view title="账号信息">
    <ion-nav-bar class="bar-self">
        <!--<ion-nav-buttons side="left">
            <button class="button button-icon icon ion-ios-minus-outline" ng-click="data.showDelete = !data.showDelete"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-android-add" ng-click="addNewAccount()"></button>
        </ion-nav-buttons>-->
    </ion-nav-bar>
    <ion-content padding="false" class="has-header">
        <div data-ng-bind-html="trustedBody">
        </div>
    </ion-content>
</ion-view>