<ion-view title="关于">
    <ion-nav-bar class="bar-self">
        <!--<ion-nav-buttons side="left">
            <button class="button button-icon icon ion-ios-minus-outline" ng-click="data.showDelete = !data.showDelete"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-android-add" ng-click="addNewAccount()"></button>
        </ion-nav-buttons>-->
    </ion-nav-bar>
    <ion-content padding="false" class="has-header">
        <div>
            <img src="img/about/about_01.jpg"/>
            <img src="img/about/about_02.jpg"/>
            <img src="img/about/about_03.jpg"/>
            <img src="img/about/about_04.jpg"/>
            <img src="img/about/about_05.jpg"/>
            <img src="img/about/about_06.jpg"/>
            <img src="img/about/about_08.jpg"/>
            <img src="img/about/about_09.jpg"/>
            <img src="img/about/about_10.jpg"/>
            <img src="img/about/about_11.jpg"/>
            <img src="img/about/about_12.jpg"/>
            <img src="img/about/about_13.jpg"/>
        </div>
    </ion-content>
</ion-view>