<ion-view title="账号信息">
    <ion-nav-bar class="bar-self">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-ios-minus-outline"
                    ng-click="data.showDelete = !data.showDelete"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-android-add" ng-click="addNewAccount()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="false" class="has-header">
        <ion-list show-delete="data.showDelete">
            <ion-item class="item-avatar item-icon-right item-remove-animate item-icon-right"
                      ng-repeat="account in data.accountList"
                      item="account"
                      ng-click="setDefault(account)">
                <img src="{{account.gender ? 'img/male.png' : 'img/female.png'}}"/>

                <h2>{{account.accountName}}</h2>
                <i ng-if="account.isDefault" class="button button-icon icon ion-android-done"></i>
                <!--<h4>我的个人描述</h4>-->
                <ion-delete-button class="ion-minus-circled" ng-click="deleteAccount(account)"></ion-delete-button>
                <!--<ion-option-button class="button-positive" ng-click="setDefault(account)">设为默认</ion-option-button>-->
                <ion-option-button class="button-positive" ng-click="editAccount(account)">编辑</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
