<ion-view title="账号信息">
    <ion-nav-bar class="bar-self">
        <!-- TODO nav-back-button 不显示-->
        <!--<ion-nav-back-button class="button-icon icon ion-ios-arrow-back">取消</ion-nav-back-button>-->
        <ion-nav-buttons side="left">
          <button class="button button-icon icon ion-ios-arrow-back" ng-click="cancel()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="false" class="has-header">
        <form class="list">
            <ion-list>
                <div class="item item-divider">
                    基础信息
                </div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">昵称</span>
                    <input type="text" ng-model="data.accountName" placeholder="">
                </label>
                <!--<label class="item item-input item-stacked-label">
                  <span class="input-label">生日</span>
                  <input type="date" ng-model="data.birth" ng-change="change()">
                </label>-->
                <label class="item item-input item-select item-stacked-label">
                    <span class="input-label">性别</span>
                    <select ng-model="data.gender">
                        <option value="1">男</option>
                        <option value="0">女</option>
                    </select>
                </label>

                <div class="item item-divider">
                    身体数据
                </div>
                <label class="item item-input item-select">
                    <span class="input-label">身高(cm)</span>
                    <select ng-model="data.height" ng-options="height as height for height in heightDic">
                    </select>
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">腰围(cm)</span>
                    <select ng-model="data.waistline" ng-options="waistline as waistline for waistline in waistlineDic">
                    </select>
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button class="button button-positive button-block " ng-click="submit()">确定</button>
        </form>
    </ion-content>
</ion-view>
