<ion-view title="诗琳美体脂秤">
    <ion-nav-bar class="bar-self">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-person" ng-click="goToEdit()"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-android-add" ng-click="addBle()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="false" class="has-header">
        <div style="width: 80%;margin: 14% auto 0;">
            <div>
                <img src="img/50.png" style="width:100%" />
            </div>
            <div style="position:absolute;left:0px;top:-0.5em;display:inline-block;width:100%;z-index:100;margin:16% auto 0;">
                <div style="position:relative;display:inline-block;width:30%;height:100px;"></div>
                <img src="img/cloud.png" style="width:40%;" />
            </div>
            <div style="position:absolute;left:0px;top:-0.5em;display:inline-block;margin-top:34%;width:100%;z-index:100;font-size: 3em;text-align: center;color:#C30D23;/* #F39800 #58B530 */">
                <strong>
                    51分
                </strong>
            </div>
        </div>
        <!--<div style="width:100%;/*height:600px*/clear: both;">
            <div id="container" style="/*height:600px;*/width:100%;">
            </div>

        </div>-->
        <div class="idx_container">
            <div class="idx_wrapper">
                <div class="idx_circle idx_weight">
                    <span class="idx_content">
                        {{data.weight || '--'}}kg<br/>
                        体重↑
                    </span>
                </div>
            </div>

            <div class="idx_wrapper">
                <div class="idx_circle idx_bmi">
                    <div class="idx_content">
                        {{data.bmi || '--'}}<br/>
                        BMI↓
                    </div>
                </div>
            </div>
            <div class="idx_wrapper">
                <div class="idx_circle idx_fat">
                    <div class="idx_content">
                        {{data.fatRatio * 100 || '--'}}%<br/>
                        脂肪↑
                    </div>
                </div>
            </div>
        </div>
        <div class="msg_title">
            诗琳美恭喜您！
        </div>
        <div class="msg_content">
            您成功击败了<span class="msg_rate">91.4%</span>的用户，<br/>太强悍了！
        </div>
    </ion-content>
</ion-view>
