<ion-view title="分析报告">
    <ion-nav-bar class="bar-self">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-ios-arrow-back" ng-click="back()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="false" class="has-header">
        <div style="">
            <div style="height:70px;width:100%;margin-top:2em;margin-left:3em">
                <span style="font-size:2.4em;">{{phyIdx.score || '--'}}分</span>
                <br/>
                <span style="font-size:1.2em;line-height:2em">您成功击败了<span class="msg_rate">{{phyIdx.scoreRatio || '--'}}%</span>的用户！</span>
            </div>

            <div style="background-color:gray;width:100%;height:40px;line-height:2.9em;padding-left:1em;color:red">
                本次测试未达标项目共{{noCount}}项
            </div>
            <div ng-show="phyIdx.weightRank != 0"
                 style="width:100%;height:50px;font-size:1.2em;padding-left:1em;line-height:2.5em;">
                <div style="float:left;width:10%;margin-top:0.5em"><img style="width:30px" src="img/tizhong.png"/></div>
                <div style="float:left;width:35%;margin-top:2px">体重</div>
                <div style="float:left;width:30%">{{phyIdx.weight || '--'}}kg</div>
                <div style="float:left;width:20%;"><span style="color:red">{{phyIdx.weightRank | weightfilter}}</span>
                </div>
            </div>
            <div style="clear:both;height:0px"></div>
            <div ng-show="phyIdx.bmiRank != 0"
                 style="width:100%;height:50px;font-size:1.2em;padding-left:1em;line-height:2.5em;">
                <div style="float:left;width:10%;margin-top:0.5em"><img style="width:30px" src="img/BMI.png"/></div>
                <div style="float:left;width:35%;margin-top:2px">BMI</div>
                <div style="float:left;width:30%">{{phyIdx.bmi || '--'}}</div>
                <div style="float:left;width:20%;"><span style="color:red">{{phyIdx.bmiRank | bmifilter}}</span></div>
            </div>
            <div style="clear:both;height:0px"></div>
            <div ng-show="phyIdx.fatRatioRank != 0"
                 style="width:100%;height:50px;font-size:1.2em;padding-left:1em;line-height:2.5em;">
                <div style="float:left;width:10%;margin-top:0.5em"><img style="width:30px" src="img/zhifanglv.png"/>
                </div>
                <div style="float:left;width:35%;margin-top:2px">脂肪率</div>
                <div style="float:left;width:30%">{{phyIdx.fatRatio || '--'}}%</div>
                <div style="float:left;width:20%;"><span style="color:red">{{phyIdx.fatRatioRank | fatfilter}}</span>
                </div>
            </div>
            <div style="clear:both;height:0px"></div>
            <div ng-show="phyIdx.bmrRank != 0"
                 style="width:100%;height:50px;font-size:1.2em;padding-left:1em;line-height:2.5em;">
                <div style="float:left;width:10%;margin-top:0.5em"><img style="width:30px"
                                                                        src="img/jichudaixiangliang.png"/></div>
                <div style="float:left;width:35%;margin-top:2px">基础代谢量</div>
                <div style="float:left;width:30%">{{phyIdx.bmr || '--'}}kcal</div>
                <div style="float:left;width:20%;"><span style="color:red">{{phyIdx.bmrRank | bmrfilter}}</span></div>
            </div>
            <div style="clear:both;height:0px"></div>
            <div ng-show="phyIdx.waterRank != 0"
                 style="width:100%;height:50px;font-size:1.2em;padding-left:1em;line-height:2.5em;">
                <div style="float:left;width:10%;margin-top:0.5em"><img style="width:30px" src="img/tishuifen.png"/>
                </div>
                <div style="float:left;width:35%;margin-top:2px">体水分</div>
                <div style="float:left;width:30%">{{phyIdx.water || '--'}}%</div>
                <div style="float:left;width:20%;"><span style="color:red">{{phyIdx.waterRank| waterfilter}}</span>
                </div>
            </div>
            <div style="clear:both;height:0px"></div>
            <div ng-show="phyIdx.smrRank != 0"
                 style="width:100%;height:50px;font-size:1.2em;padding-left:1em;line-height:2.5em;">
                <div style="float:left;width:10%;margin-top:0.5em"><img style="width:30px" src="img/gugejilv.png"/>
                </div>
                <div style="float:left;width:35%;margin-top:2px">骨骼肌率</div>
                <div style="float:left;width:30%">{{phyIdx.smr || '--'}}%</div>
                <div style="float:left;width:20%;"><span style="color:red">{{phyIdx.smrRank | smrfilter}}</span></div>
            </div>
            <div style="clear:both;height:0px"></div>
            <div ng-show="phyIdx.bodyAgeRank != 0"
                 style="width:100%;height:50px;font-size:1.2em;padding-left:1em;line-height:2.5em;">
                <div style="float:left;width:10%;margin-top:0.5em"><img style="width:30px" src="img/tinianling.png"/>
                </div>
                <div style="float:left;width:35%;margin-top:2px">体年龄</div>
                <div style="float:left;width:30%">{{phyIdx.bodyAge || '--'}}岁</div>
                <div style="float:left;width:20%;"><span style="color:red">{{phyIdx.bodyAgeRank | bodyagefilter}}</span>
                </div>
            </div>
            <div style="clear:both;height:0px"></div>
            <div ng-show="phyIdx.boneWeightRank != 0"
                 style="width:100%;height:50px;font-size:1.2em;padding-left:1em;line-height:2.5em;">
                <div style="width:10%;float:left;margin-top:0.5em"><img style="width:30px" src="img/guliang.png"/></div>
                <div style="float:left;width:35%;margin-top:2px">骨量</div>
                <div style="float:left;width:30%">{{phyIdx.boneWeight || '--'}}kg</div>
                <div style="float:left;width:20%;"><span
                        style="color:red">{{phyIdx.boneWeightRank | boneweightfilter}}</span></div>
            </div>
            <div style="clear:both;height:0px"></div>
            <div ng-show="phyIdx.whrRank != 0"
                 style="width:100%;height:50px;font-size:1.2em;padding-left:1em;line-height:2.5em;">
                <div style="float:left;width:10%;margin-top:0.5em"><img style="width:30px" src="img/yaotunbi.png"/>
                </div>
                <div style="float:left;width:35%;margin-top:2px">腰臀比</div>
                <div style="float:left;width:30%">{{phyIdx.whr || '--'}}</div>
                <div style="float:left;width:20%;"><span style="color:red">{{phyIdx.whrRank | whrfilter}}</span></div>
            </div>
            <div style="clear:both;height:0px"></div>
            <div style="background-color:gray;width:100%;height:40px;line-height:2.9em;padding-left:1em;color:green">
                本次测试达标项目共{{yesCount}}项
            </div>
            <div ng-show="phyIdx.weightRank == 0"
                 style="width:100%;height:50px;font-size:1.2em;padding-left:1em;line-height:2.5em;">
                <div style="float:left;width:10%;margin-top:0.5em"><img style="width:30px" src="img/tizhong.png"/>
                </div>
                <div style="float:left;width:35%;margin-top:2px">体重</div>
                <div style="float:left;width:30%">{{phyIdx.weight || '--'}}kg</div>
                <div style="float:left;width:20%;"><span
                        style="color:green">{{phyIdx.weightRank | weightfilter}}</span></div>
            </div>
            <div style="clear:both;height:0px"></div>
            <div ng-show="phyIdx.bmiRank == 0"
                 style="width:100%;height:50px;font-size:1.2em;padding-left:1em;line-height:2.5em;">
                <div style="float:left;width:10%;margin-top:0.5em"><img style="width:30px" src="img/BMI.png"/></div>
                <div style="float:left;width:35%;margin-top:2px">BMI</div>
                <div style="float:left;width:30%">{{phyIdx.bmi || '--'}}</div>
                <div style="float:left;width:20%;"><span style="color:green">{{phyIdx.bmiRank | bmifilter}}</span>
                </div>
            </div>
            <div style="clear:both;height:0px"></div>
            <div ng-show="phyIdx.fatRatioRank == 0"
                 style="width:100%;height:50px;font-size:1.2em;padding-left:1em;line-height:2.5em;">
                <div style="float:left;width:10%;margin-top:0.5em"><img style="width:30px" src="img/zhifanglv.png"/>
                </div>
                <div style="float:left;width:35%;margin-top:2px">脂肪率</div>
                <div style="float:left;width:30%">{{phyIdx.fatRatio || '--'}}%</div>
                <div style="float:left;width:20%;"><span
                        style="color:green">{{phyIdx.fatRatioRank | fatfilter}}</span></div>
            </div>
            <div style="clear:both;height:0px"></div>
            <div ng-show="phyIdx.bmrRank == 0"
                 style="width:100%;height:50px;font-size:1.2em;padding-left:1em;line-height:2.5em;">
                <div style="float:left;width:10%;margin-top:0.5em"><img style="width:30px"
                                                                        src="img/jichudaixiangliang.png"/></div>
                <div style="float:left;width:35%;margin-top:2px">基础代谢量</div>
                <div style="float:left;width:30%">{{phyIdx.bmr || '--'}}kcal</div>
                <div style="float:left;width:20%;"><span style="color:green">{{phyIdx.bmrRank | bmrfilter}}</span>
                </div>
            </div>
            <div style="clear:both;height:0px"></div>
            <div ng-show="phyIdx.waterRank == 0"
                 style="width:100%;height:50px;font-size:1.2em;padding-left:1em;line-height:2.5em;">
                <div style="float:left;width:10%;margin-top:0.5em"><img style="width:30px" src="img/tishuifen.png"/>
                </div>
                <div style="float:left;width:35%;margin-top:2px">体水分</div>
                <div style="float:left;width:30%">{{phyIdx.water || '--'}}%</div>
                <div style="float:left;width:20%;"><span style="color:green">{{phyIdx.waterRank| waterfilter}}</span>
                </div>
            </div>
            <div style="clear:both;height:0px"></div>
            <div ng-show="phyIdx.smrRank == 0"
                 style="width:100%;height:50px;font-size:1.2em;padding-left:1em;line-height:2.5em;">
                <div style="float:left;width:10%;margin-top:0.5em"><img style="width:30px" src="img/gugejilv.png"/>
                </div>
                <div style="float:left;width:35%;margin-top:2px">骨骼肌率</div>
                <div style="float:left;width:30%">{{phyIdx.smr || '--'}}%</div>
                <div style="float:left;width:20%;"><span style="color:green">{{phyIdx.smrRank | smrfilter}}</span>
                </div>
            </div>
            <div style="clear:both;height:0px"></div>
            <div ng-show="phyIdx.bodyAgeRank == 0"
                 style="width:100%;height:50px;font-size:1.2em;padding-left:1em;line-height:2.5em;">
                <div style="float:left;width:10%;margin-top:0.5em"><img style="width:30px"
                                                                        src="img/tinianling.png"/>
                </div>
                <div style="float:left;width:35%;margin-top:2px">体年龄</div>
                <div style="float:left;width:30%">{{phyIdx.bodyAge || '--'}}岁</div>
                <div style="float:left;width:20%;"><span
                        style="color:green">{{phyIdx.bodyAgeRank | bodyagefilter}}</span></div>
            </div>
            <div style="clear:both;height:0px"></div>
            <div ng-show="phyIdx.boneWeightRank == 0"
                 style="width:100%;height:50px;font-size:1.2em;padding-left:1em;line-height:2.5em;">
                <div style="width:10%;float:left;margin-top:0.5em"><img style="width:30px" src="img/guliang.png"/>
                </div>
                <div style="float:left;width:35%;margin-top:2px">骨量</div>
                <div style="float:left;width:30%">{{phyIdx.boneWeight || '--'}}kg</div>
                <div style="float:left;width:20%;"><span
                        style="color:green">{{phyIdx.boneWeightRank | boneweightfilter}}</span>
                </div>
            </div>
            <div style="clear:both;height:0px"></div>
            <div ng-show="phyIdx.whrRank == 0"
                 style="width:100%;height:50px;font-size:1.2em;padding-left:1em;line-height:2.5em;">
                <div style="float:left;width:10%;margin-top:0.5em"><img style="width:30px" src="img/yaotunbi.png"/>
                </div>
                <div style="float:left;width:35%;margin-top:2px">腰臀比</div>
                <div style="float:left;width:30%">{{phyIdx.whr || '--'}}</div>
                <div style="float:left;width:20%;"><span style="color:green">{{phyIdx.whrRank | whrfilter}}</span>
                </div>
            </div>
            <div style="clear:both;height:0px"></div>
            <div style="margin: 5px; border-top: 1px solid #ccc; padding-top: 5px;">
                注：以上所有建议是基于人体生物阻抗技术获得的测试指标而给予的良好生活习惯指引，不作为医学评判的依据；如需医学上的诊断，请咨询专业医生。
            </div>
        </div>
    </ion-content>
</ion-view>