<ion-tabs class="tabs-icon-top tabs-self">

    <!-- Check Tab -->
    <ion-tab title="体检" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/check">
        <ion-nav-view name="tab-check"></ion-nav-view>
    </ion-tab>

    <!-- Charts Tab -->
    <ion-tab title="图表" icon-off="ion-ios-pie-outline" icon-on="ion-ios-pie" href="#/tab/charts">
        <ion-nav-view name="tab-charts"></ion-nav-view>
    </ion-tab>

    <!-- About Tab -->
    <ion-tab title="关于" icon-off="ion-ios-world-outline" icon-on="ion-ios-world" href="#/tab/about">
        <ion-nav-view name="tab-about"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

</ion-tabs>