.bar-self {
    color: #015dae;
}

.bar.bar-self {
    border-color: #015dae;
    background-color: #015dae;
    background-image: linear-gradient(0deg, #015dae, #015dae 50%, transparent 50%);
    color: #fff;
}

.bar.bar-self .title {
    color: #fff;
}

.bar.bar-self.bar-footer {
    background-image: linear-gradient(180deg, #015dae, #015dae 50%, transparent 50%);
}

.bar-self .button {
    border-color: #015dae;
    background-color: #015dae;
    color: #fff;
}

.bar-self .button:hover {
    color: #fff;
    text-decoration: none;
}

.bar-self .button.active,
.bar-self .button.activated {
    border-color: #015dae;
    background-color: #015dae;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}

.bar-self .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #fff;
    font-size: 17px;
}

.bar-self .button.button-icon {
    border-color: transparent;
    background: none;
}

.tabs-self > .tabs,
.tabs.tabs-self {
    border-color: #015dae;
    background-color: #015dae;
    background-image: linear-gradient(0deg, #015dae, #015dae 50%, transparent 50%);
    color: #fff;
}

.tabs-self > .tabs .tab-item .badge,
.tabs.tabs-self .tab-item .badge {
    background-color: #fff;
    color: #015dae;
}

.tabs-striped.tabs-self .tabs {
    background-color: #015dae;
}

.tabs-striped.tabs-self .tab-item {
    color: rgba(255, 255, 255, 0.4);
    opacity: 1;
}

.tabs-striped.tabs-self .tab-item .badge {
    opacity: 0.4;
}

.tabs-striped.tabs-self .tab-item.tab-item-active,
.tabs-striped.tabs-self .tab-item.active,
.tabs-striped.tabs-self .tab-item.activated {
    margin-top: -2px;
    color: #fff;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #fff;
}

.idx_container {
    margin: 60px 15px 20px;
    font-size: 0;
}

.idx_wrapper {
    /*float: left;*/
    display: inline-block;
    width: 33%;
    font-size: 16px;
}

.idx_circle {
    position: relative;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    border-radius: 50%;
}

.idx_content {
    position: absolute;
    top: 15px;
    /*margin-top: -1em;*/
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.idx_weight {
    color: #A60178;
    border: 3px solid #A60178;
}

.idx_bmi {
    color: #46B1A2;
    border: 3px solid #46B1A2;
}

.idx_fat {
    color: #EDC855;
    border: 3px solid #EDC855;
}

.msg_title {
    width: 100%;
    margin: 20px 0 10px;
    font-size: 1.8em;
    text-align: center;
    color: #015dae;
}

.msg_content {
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.6em;
    line-height: 1.1em;
    text-align: center;
    color: #015dae;
}

.msg_rate {
    color: #FF0404;
    font-weight: bold;
}

.phy_score {
    position: absolute;
    left: 0px;
    top: -0.5em;
    display: inline-block;
    margin-top: 34%;
    width: 100%;
    z-index: 100;
    font-size: 2.8em;
    text-align: center;
}

.phy_score0 {
    color: #4fac2a;
}

.phy_score1 {
    color: #bb1122;
}

.phy_score2 {
    color: #f08c04;
}

.phy_score3 {
    color: #4fac2a;
}

.button.self_activated {
    border-color: #a2a2a2;
    background-color: #e5e5e5;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}